<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Login</title>

<!-- Font Icon -->
<link rel="stylesheet"
	href="login/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="login/css/style.css">
<link rel="stylesheet" href="login/css/custom.css">
</head>
<body>

	<div class="main">
		<!-- Sing in  Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">

					<div class="login-image">
						<figure>
							<img id="custom-shop-image"
								src="login/images/signin-image.jpg" alt="sign in image">
						</figure>
					</div>

					<div class="signin-form">
						<h2 class="form-title">Log in</h2>
						<form th:action="@{/login}" method="POST" class="register-form"
							id="login-form">
							<div class="form-group">
								<label for="your_name"><i
									class="zmdi zmdi-account material-icons-name"></i></label> <input
									type="text" name="your_name" id="your_name"
									placeholder="Tên đăng nhập" />
							</div>
							<div class="form-group">
								<label for="your_pass"><i class="zmdi zmdi-lock"></i></label> <input
									type="password" name="your_pass" id="your_pass"
									placeholder="Mật khẩu" />
							</div>
							<div class="form-group">
								<input type="checkbox" name="remember-me" id="remember-me"
									class="agree-term" /> <label style="font-size: 15px;" for="remember-me"
									class="label-agree-term"><span><span></span></span>Ghi
									nhớ</label>
							</div>
							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin"
									class="form-submit" value="Đăng nhập" /> <a
									style="float: right; margin: 25px 20px 0 0;"
									th:href="@{/register}" class="link">Đăng kí</a>
							</div>
							<div class="form-group">
								<a style="float: left;color:chocolate;font-size:17px;" th:href="@{/}">Trang chủ</a>
							</div>
							<p th:if="${param.error}" style="color: red; font-size: 17px; font-style: italic;">Sai
								tên đăng nhập hoặc mật khẩu</p>
						</form>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>
</html>